header {
    height: 500px;
    background-size: cover;
    background-color: #111;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    text-align:center;
    padding-right:10%;
    padding-top:10%;
}
.article-cover, .blog-cover {
    max-width: 100%;
    margin-top: 0;
    position: relative;
    max-height: 460px;
    overflow: hidden;
    background: #eee;
}

section {
    margin: auto;
//    text-align: center;
    padding-top: 1em;
    padding-right: 5%;
    overflow:hidden;
}

/*article { 
    margin:0 auto 1.5em;
}
*/
.container {
    max-width: 820;
    margin: auto;
}

.bgcolor {
    width: 100%;
}
header h1 {
    padding-top:15%;
}

ul  {
      list-style-type:circle; 
}
li {
    font-size:1.5em;
    color:#65777c;
    line-height:1.5em;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote:after {
    display: block;
    content: "\201D";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

